$sakura0: rgb(39, 37, 37);
$sakura1: rgb(53, 49, 50);
$sakura2: rgb(66, 62, 63);
$sakura3: rgb(103, 101, 102);
$sakura4: rgb(249, 240, 244);
$sakura5: rgb(235, 229, 231);
$sakura6: rgb(220, 214, 216);
$sakura7: rgb(241, 193, 207);
$sakura8: rgb(232, 155, 177);
$sakura9: rgb(224, 123, 150);
$sakura10: rgb(215, 101, 128);
$sakura11: rgb(224, 77, 80);
$sakura12: rgb(224, 150, 118);
$sakura13: rgb(224, 199, 154);
$sakura14: rgb(190, 223, 169);
$sakura15: rgb(148, 181, 224);


$deep-night: (
  "dark": $sakura0,
  "normal": $sakura1,
  "light": $sakura2,
  "lighter": $sakura3,
);

$overcast: (
  "light": $sakura4,
  "normal": $sakura5,
  "dark": $sakura6,  
);

$cherry-blossom: (
  "lighter": $sakura7,
  "light": $sakura8,
  "normal": $sakura9,
  "dark": $sakura10, 
);

$sunset: (
  "red": $sakura11,
  "orange": $sakura12,
  "yellow": $sakura13,
  "green": $sakura14,
  "blue": $sakura15,
);
